<header>
  <div class="row">

    <div
      class="small-12 medium-3 large-3 columns small-text-left large-text-center medium-text-left header-menu-links"
      >
      <a ui-sref="home" class="div-link" style="color: #FFEEDC;">NixClix</a>
    </div>

    <div
      class="small-12 medium-3 large-3 columns small-text-right large-text-center medium-text-center header-menu-links"
      style="font-family: 'Montez';">
      <a ui-sref="weddings" class="div-link" style="color: #CFF7A2;">Weddings</a>
    </div>

    <div
      class="small-12 medium-3 large-3 columns small-text-right large-text-center medium-text-center header-menu-links"
      style="font-family: 'Amatic SC';">
      <a href class="div-link" style="color: #EEF6FF;">Travel</a>
    </div>

    <div
      class="small-12 medium-3 large-3 columns small-text-right large-text-center medium-text-center header-menu-links"
      style="font-family: 'Butterfly Kids';">
      <a href class="div-link" style="color: #73FFE0;">Interesting</a>
    </div>
  </div>
</header>