<header>
  <div class="row">

    <div
      class="small-12 large-3 columns small-text-left large-text-left header-menu-links"
      >
      <a href class="div-link" style="color: #FFEEDC;">NixClix</a>
    </div>

    <div
      class="small-12 large-3 columns small-text-right large-text-left header-menu-links"
      style="font-family: 'Montez'; color: #CFF7A2;">
      Weddings
    </div>

    <div
      class="small-12 large-3 columns small-text-right large-text-left header-menu-links"
      style="font-family: 'Amatic SC'; color: #EEF6FF;">
      Travel
    </div>

    <div
      class="small-12 large-3 columns small-text-right large-text-left header-menu-links"
      style="font-family: 'Butterfly Kids'; color: #73FFE0;">
      Interesting
    </div>
  </div>
</header>