<header>
  <div class="row">

    <div
      class="small-12 large-3 columns small-text-left large-text-left"
      >
      <a href class="div-link" style="font-size: 24px; color: #FFEEDC;">NixClix</a>
    </div>

    <div
      class="small-12 large-3 columns small-text-right large-text-left"
      style="font-family: 'Montez'; font-size: 28px; color: #CFF7A2;">
      Weddings
    </div>

    <div
      class="small-12 large-3 columns small-text-right large-text-left"
      style="font-family: 'Amatic SC'; font-size: 28px; color: #EEF6FF;">
      Travel
    </div>

    <div
      class="small-12 large-3 columns small-text-right large-text-left"
      style="font-family: 'Butterfly Kids'; font-size: 28px; color: #73FFE0;">
      Interesting
    </div>
  </div>
</header>