html,body {
  min-height: 100%;
}

body {
  background-color: rgb(25, 35, 48);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: #FDFF8B;
  position: relative;
}

header {
  width: 100%;
  background: rgba(255,255,255,0.05);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
}

.header-menu-links {
  font-size: 1.65em;
}

/* Exclusive helper classes to bust some repetitive tasks */
.white-text {
  color: white;
}

.div-link {
  display: block;
  width: 100%
  height: 100%;
  text-decoration: none;
}

a > img.hoverableImage {
  opacity: 0.4;
  transition: opacity 500ms;
  padding: 5px;
}
a > img.hoverableImage:hover {
  opacity: 1;
  transition: opacity 500ms;
}

a:link {
   color:inherit;
}




.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}